@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.quint {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97.5vh;
    overflow: hidden;
    background-image: url("/temp-background.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}

@media(aspect-ratio < 0.61020175104) {
    body {
        background-size: auto 100vh;
        background-position: top;
    }
}
#clock {
    font-size: clamp(1rem, 15vw, 40vh);
}
@media(max-width: 600px) {
    #clock {
        font-size: clamp(1rem, 25vw, 40vh);
    }
}