@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
.lav {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}
.quint {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
@property --button-intensity {
    syntax: "<number>";
    inherits: false;
    initial-value: 0.5;
}
body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: url("/temp-background.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
}

@media(aspect-ratio < 0.61020175104) {
    body {
        background-size: auto 100vh;
        background-position: top;
    }
}

.date-box {
    display: none;
}

#clock-container, #notes-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#clock-container {
    opacity: 1;
    transform: translateY(0);
}
#notes-container {
    opacity: 0;
    transform: translateY(100vh);
}

#bottom-arrow-container, #top-arrow-container {
    --button-intensity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(rgba(0, 0, 0, calc(var(--button-intensity) - 0.6)) 0%, rgba(0, 0, 0, var(--button-intensity)) 100%);
    transition: --button-intensity 0.2s ease-in-out;
}

#top-arrow-container {
    display: none;
    transform: rotateX(180deg);
    opacity: 0;
    top: 0;
}

#bottom-arrow-container:hover, #top-arrow-container:hover {
    --button-intensity: 0.9;
}

#bottom-arrow, #top-arrow {
    width: 4vh;
    height: 4vh;
    transform: rotate(45deg) translateX(-1vh) translateY(-1vh);
    border-right: 1vh solid rgb(255, 255, 255);
    border-bottom: 1vh solid rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

body:has(#bottom-arrow-container:hover) #bottom-arrow, body:has(#top-arrow-container:hover) #top-arrow {
    width: 4.1vh;
    height: 4.1vh;
    transform: rotate(45deg) translateX(-0.5vh) translateY(-0.5vh);
    border-right: 1.1vh solid rgb(255, 255, 255);
    border-bottom: 1.1vh solid rgb(255, 255, 255);
}

body:not(:has(#clock-container.active)) #notes-container {
    opacity: 1;
    transform: translateY(0);
}

body:not(:has(#clock-container.active)) #clock-container {
    opacity: 0;
    transform: translateY(-100vh);
}

body:not(:has(#clock-container.active)) #bottom-arrow-container {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

body:not(:has(#clock-container.active)) #top-arrow-container {
    opacity: 1;
    display: flex;
    transition: opacity 0.5s ease-in-out;
}

#clock {
    font-size: clamp(1rem, 15vw, 40vh);
    display: grid;
}

@media(max-width: 600px) {
    #clock {
        font-size: clamp(1rem, 25vw, 40vh);
    }
}

#clock > * {
    grid-column: 1;
    grid-row: 1;
}

@keyframes time0 {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    13.67% {
        opacity: 1;
    }
    --.67% {
        opacity:0
    }
}

@keyframes time1 {
    --.67% {

    }
    33.33% {

    }
}

@keyframes time2 {
    33.33% {

    }
    50% {

    }
}

@keyframes time3 {
    50% {

    }
    66.67% {

    }
}

@keyframes time4 {
    66.67% {

    }
    83.33% {

    }
}

@keyframes time5 {
    83.33% {

    } 
    100% {

    }
}